<h1 mat-dialog-title class="mat-dialog-title">
  <button class="dialog-close-button" (click)="closeDialog()" [tabIndex]="-1">
    <span class="material-icons"> highlight_off </span>
  </button>
</h1>


<div class="modalForm">
  <mat-dialog-content>
    <div class="modal-header">
      <h5 class="modal-title">
        <span *ngIf="!selectedrole">Role Ekle</span>
        <span *ngIf="selectedrole">Role Güncelle</span>
      </h5>
    </div>

    <div class="modal-body mbody-users">
      <div class="qm-pr-content">

        <div class="container-fluid" [formGroup]="roles">
          <div class="row">

            <div class="col-sm-12 mt-2 common-width">
              <mat-form-field style="width:100%">
                <mat-label>Role Adi</mat-label>
                <input matInput [formControlName]="'rolecode'">
                <mat-icon class="icon-size-5" matSuffix [svgIcon]="'heroicons_solid:user-circle'"></mat-icon>
              </mat-form-field>
            </div>
            <div class="col-sm-12 mt-2 common-width">
              <mat-form-field style="width:100%">
                <mat-label>Giriş Sayfası</mat-label>
                <mat-select [formControlName]="'mainpage'">
                  <mat-option *ngFor="let item of selectedItemsTitle" [value]="item">{{ item }}</mat-option>
                </mat-select>
                <mat-icon class="icon-size-5" matSuffix [svgIcon]="'heroicons_solid:user-circle'"></mat-icon>
              </mat-form-field>
            </div>
            <div style="height: 10vw; overflow: auto;">
              <mat-tree [dataSource]="dataSource" [treeControl]="treeControl" style="height: 100%;">
                <!-- This is the tree node template for leaf nodes -->
                <mat-tree-node *matTreeNodeDef="let node" matTreeNodePadding>
                  <mat-checkbox (change)="nodeSelectionToggle(node, $event.checked)"
                    [checked]="node.checked"></mat-checkbox>
                  {{node.title}}
                </mat-tree-node>
                <!-- This is the tree node template for expandable nodes -->
                <mat-tree-node *matTreeNodeDef="let node;when: hasChild" matTreeNodePadding>
                  <!-- <mat-checkbox (change)="nodeSelectionToggle(node, $event.checked)" [checked]="node.checked"></mat-checkbox> -->
                  <button mat-icon-button matTreeNodeToggle [attr.aria-label]="'Toggle ' + node.title">
                    <mat-icon class="mat-icon-rtl-mirror">
                      {{treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right'}}
                    </mat-icon>
                  </button>
                  {{node.title}}
                </mat-tree-node>
              </mat-tree>
            </div>


          </div>

        </div>
      </div>

      <div class="flex flex-col sm:flex-row sm:items-center justify-between mt-4 sm:mt-6">
        <div class="-ml-2">
          <button mat-icon-button>
            <mat-icon class="icon-size-5" [svgIcon]="'heroicons_solid:paper-clip'"></mat-icon>
          </button>
          <button mat-icon-button>
            <mat-icon class="icon-size-5" [svgIcon]="'heroicons_solid:id'"></mat-icon>
          </button>
          <button mat-icon-button>
            <mat-icon class="icon-size-5" [svgIcon]="'heroicons_solid:emoji-happy'"></mat-icon>
          </button>
          <button mat-icon-button>
            <mat-icon class="icon-size-5" [svgIcon]="'heroicons_solid:photograph'"></mat-icon>
          </button>
        </div>

        <div class="flex items-center mt-4 sm:mt-0">
          <button class="ml-auto sm:ml-0" mat-stroked-button (click)="closeDialog()">
            Vazgeç
          </button>
          <button class="order-first sm:order-last" mat-flat-button [color]="'primary'" (click)="addOrUpdateRole()">
            Kaydet
          </button>
        </div>
      </div>
    </div>


  </mat-dialog-content>
</div>