<div class="flex flex-col flex-auto min-w-0">
    <div
        class="flex flex-col sm:flex-row flex-0 sm:items-center sm:justify-between p-6 pb-22 sm:pt-12 sm:pb-28 sm:px-10 bg-default dark:bg-transparent">
        <div class="flex-1 min-w-0">
            <div>
                <div class="flex sm:hidden">
                    <a class="inline-flex items-center -ml-1.5 text-secondary font-medium" [routerLink]="'./..'">
                        <mat-icon class="icon-size-5 text-secondary"
                            [svgIcon]="'heroicons_solid:chevron-left'"></mat-icon>
                        <span class="ml-1">Back</span>
                    </a>
                </div>
            </div>
            <!-- Title -->
            <div class="mt-2">
                <h2 class="text-3xl md:text-4xl font-extrabold tracking-tight leading-7 sm:leading-10 truncate">
                    Müşteri Detayı
                </h2>
            </div>
        </div>
    </div>
    <div class="flex-auto -mt-16 p-6 sm:p-10 rounded-t-2xl shadow bg-card">
        <div class="flex flex-wrap gap-2 shrink-0 items-center mt-6 sm:mt-0 sm:ml-4">
            <button mat-flat-button [color]="'primary'" (click)="openSaleCustomers()">
                <mat-icon class="icon-size-5 mr-2" [svgIcon]="'heroicons_solid:pencil-alt'"></mat-icon>
                &nbsp;Satış
            </button>
            <button class="ml-3" mat-stroked-button (click)="addAppointment()">
                <mat-icon class="icon-size-5 mr-2" [svgIcon]="'heroicons_solid:pencil-alt'"></mat-icon>
                &nbsp;Randevu/Aşı Takvimi Oluştur
            </button>
            <button class="ml-3" mat-flat-button [color]="'primary'" (click)="openAppointmentHistory()">
                <mat-icon class="icon-size-5 mr-2" [svgIcon]="'heroicons_solid:link'"></mat-icon>
                &nbsp;Randevu Geçmişi
            </button>
            <button class="ml-3" mat-stroked-button (click)="openNewPatients()">
                <mat-icon class="icon-size-5 mr-2" [svgIcon]="'heroicons_solid:pencil-alt'"></mat-icon>
                &nbsp;Hasta Ekle
            </button>
            <button class="ml-3" mat-flat-button [color]="'primary'" (click)="openvaccinationcard()">
                <mat-icon class="icon-size-5 mr-2" [svgIcon]="'heroicons_solid:link'"></mat-icon>
                &nbsp;Aşı Kartı
            </button>
            <button class="ml-3" mat-stroked-button [matMenuTriggerFor]="menu"><mat-icon
                    svgIcon="heroicons_outline:chevron-down"></mat-icon> &nbsp;Tahsilat</button>
            <mat-menu #menu="matMenu">
                <button mat-menu-item (click)="openGetCollection()">Tahsilat Al</button>
                <button mat-menu-item (click)="openCollectionTransaction()">Tahsilat İşlemleri</button>
            </mat-menu>
            <button class="ml-3" mat-flat-button [color]="'primary'" (click)="openPayChart()">
                <mat-icon class="icon-size-5 mr-2" [svgIcon]="'heroicons_solid:link'"></mat-icon>
                Ödeme Tablosu
            </button>
            <button class="ml-3" mat-stroked-button [matMenuTriggerFor]="menus"><mat-icon
                    svgIcon="heroicons_outline:chevron-down"></mat-icon> &nbsp;Mesaj Gönder</button>
            <mat-menu #menus="matMenu">
                <button mat-menu-item>SMS Gönder</button>
                <button mat-menu-item>Whatsapp Mesaj Gönder</button>
            </mat-menu>

        </div>
        <div class="my-10 border-t"></div>

        <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-4 gap-6 w-full min-w-0">
            <div class="flex flex-col flex-auto mt-8 bg-card shadow rounded-2xl overflow-hidden">
                <div class="flex flex-col flex-auto p-6 bg-card shadow rounded-2xl overflow-hidden">
                    <div class="flex items-start justify-between">
                        <div class="text-lg font-medium tracking-tight leading-6 truncate">
                            Toplam Yapılan Satış
                        </div>
                        <!-- <div class="ml-2 -mt-2 -mr-3">
                            <button mat-icon-button [matMenuTriggerFor]="summaryMenu">
                                <mat-icon class="icon-size-5" [svgIcon]="'heroicons_solid:dots-vertical'"></mat-icon>
                            </button>
                            <mat-menu #summaryMenu="matMenu">
                                <button mat-menu-item>Yesterday</button>
                            </mat-menu>
                        </div> -->
                    </div>
                    <div class="flex flex-col items-center mt-2">
                        <div class="text-7xl sm:text-8xl font-bold tracking-tight leading-none text-blue-500">
                            {{totalSaleBuyCount}}
                        </div>
                    </div>
                </div>
            </div>
            <div class="flex flex-col flex-auto mt-8 bg-card shadow rounded-2xl overflow-hidden">
                <div class="flex flex-col flex-auto p-6 bg-card shadow rounded-2xl overflow-hidden">
                    <div class="flex items-start justify-between">
                        <div class="text-lg font-medium tracking-tight leading-6 truncate">
                            Toplam Ziyaret Sayısı
                        </div>
                        <!-- <div class="ml-2 -mt-2 -mr-3">
                            <button mat-icon-button [matMenuTriggerFor]="summaryMenu">
                                <mat-icon class="icon-size-5" [svgIcon]="'heroicons_solid:dots-vertical'"></mat-icon>
                            </button>
                            <mat-menu #summaryMenu="matMenu">
                                <button mat-menu-item>Yesterday</button>
                            </mat-menu>
                        </div> -->
                    </div>
                    <div class="flex flex-col items-center mt-2">
                        <div class="text-7xl sm:text-8xl font-bold tracking-tight leading-none text-red-500">
                            {{totalVisitCount}}
                        </div>
                    </div>
                </div>
            </div>
            <div class="flex flex-col flex-auto mt-8 bg-card shadow rounded-2xl overflow-hidden">
                <div class="flex flex-col flex-auto p-6 bg-card shadow rounded-2xl overflow-hidden">
                    <div class="flex items-start justify-between">
                        <div class="text-lg font-medium tracking-tight leading-6 truncate">
                            Toplam Kazanç
                        </div>
                        <!-- <div class="ml-2 -mt-2 -mr-3">
                            <button mat-icon-button [matMenuTriggerFor]="summaryMenu">
                                <mat-icon class="icon-size-5" [svgIcon]="'heroicons_solid:dots-vertical'"></mat-icon>
                            </button>
                            <mat-menu #summaryMenu="matMenu">
                                <button mat-menu-item>Yesterday</button>
                            </mat-menu>
                        </div> -->
                    </div>
                    <div class="flex flex-col items-center mt-2">
                        <div class="text-7xl sm:text-8xl font-bold tracking-tight leading-none text-blue-500">
                            {{totalEarnings}} ₺
                        </div>
                    </div>
                </div>
            </div>
            <div class="flex flex-col flex-auto mt-8 bg-card shadow rounded-2xl overflow-hidden">
                <div class="flex flex-col flex-auto p-6 bg-card shadow rounded-2xl overflow-hidden">
                    <div class="flex items-start justify-between">
                        <div class="text-lg font-medium tracking-tight leading-6 truncate">
                            Gönderilen Mesaj Sayısı
                        </div>
                        <!-- <div class="ml-2 -mt-2 -mr-3">
                            <button mat-icon-button [matMenuTriggerFor]="summaryMenu">
                                <mat-icon class="icon-size-5" [svgIcon]="'heroicons_solid:dots-vertical'"></mat-icon>
                            </button>
                            <mat-menu #summaryMenu="matMenu">
                                <button mat-menu-item>Yesterday</button>
                            </mat-menu>
                        </div> -->
                    </div>
                    <div class="flex flex-col items-center mt-2">
                        <div class="text-7xl sm:text-8xl font-bold tracking-tight leading-none text-red-500">
                            0
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <br />


        <div class="flex flex-wrap">
            <div class="w-full md:w-6/12 p-2">

                <div class="flex flex-row flex-auto p-6 bg-card shadow rounded-2xl overflow-hidden z-50"
                    style="justify-content: space-between; margin-bottom: 3px; position: absolute; width: 38%; margin-left: 4rem;">

                    <img class="w-32 h-32 rounded-full ring-4 ring-bg-card" src="assets/images/avatars/noimage.jpg"
                        alt="User avatar" />
                    <h1 style="font-size: 40px; padding-top: 50px; padding-left: 25px;">{{this.firstname}}
                        {{this.lastname}}</h1>
                    <h1 style="padding-top: 110px;">Bakiye: 0,00 TL</h1>
                </div>

                <!-- <div class="flex flex-row flex-auto p-6 bg-card shadow rounded-2xl overflow-hidden z-50"
                    style="justify-content: space-between; margin-bottom: 3px; position: absolute; width: 38%; margin-left: 4rem;">

                    <img class="w-32 h-32 rounded-full ring-4 ring-bg-card" src="assets/images/avatars/noimage.jpg"
                        alt="User avatar" />
                    <h1 style="font-size: 40px; padding-top: 50px; padding-left: 25px;">{{this.firstname}}
                        {{this.lastname}}</h1>
                    <h1 style="padding-top: 110px;">Bakiye: 0,00 TL</h1>
                </div> -->
                <div class="flex-auto p-6 sm:p-10 rounded-t-2xl shadow bg-card overflow-hidden"
                    style="margin-top: 5rem;" [formGroup]="customerDetailForm">
                    <div style="margin-top: 5rem;">
                        <div class="flex float:right md:max-sm:flex-column" style="justify-content: flex-end;">
                            <button mat-icon-button color="accent" matTooltip="Düzenle" (click)="addPanelOpen()">
                                <mat-icon aria-label="Edit">edit</mat-icon>
                            </button>
                        </div>
                        <div class="flex float:left md:max-sm:flex-column ">
                            <mat-form-field class="flex-auto gt-xs:pr-6">
                                <mat-label class="boldFont">E-mail</mat-label>
                                <input matInput disabled="true" [formControlName]="'email'" class="disableCustomCss">
                                <mat-icon class="icon-size-5" matSuffix [svgIcon]="'heroicons_solid:mail'"></mat-icon>
                            </mat-form-field>
                            <mat-form-field class="ml-5 flex-auto gt-xs:pl-6">
                                <mat-label class="boldFont">Telefon No</mat-label>
                                <input matInput disabled="true" [formControlName]="'phonenumber'"
                                    class="disableCustomCss">
                                <mat-icon class="icon-size-5" matSuffix [svgIcon]="'heroicons_solid:phone'"></mat-icon>
                            </mat-form-field>
                        </div>
                        <div class="flex float:left gt-xs:flex-row">
                            <mat-form-field class="flex-auto gt-xs:pr-3">
                                <mat-label class="boldFont">Telefon No 2</mat-label>
                                <input matInput disabled="true" [formControlName]="'phonenumber2'"
                                    class="disableCustomCss">
                                <mat-icon class="icon-size-5" matSuffix [svgIcon]="'heroicons_solid:phone'"></mat-icon>
                            </mat-form-field>
                            <mat-form-field class="ml-5 flex-auto gt-xs:pl-3">
                                <mat-label class="boldFont">İl</mat-label>
                                <input matInput disabled="true" [formControlName]="'city'" class="disableCustomCss">
                                <mat-icon class="icon-size-5" matSuffix
                                    [svgIcon]="'heroicons_solid:location-marker'"></mat-icon>
                            </mat-form-field>
                        </div>
                        <div class="flex float:left gt-xs:flex-row">
                            <mat-form-field class="flex-auto gt-xs:pr-3">
                                <mat-label class="boldFont">İlçe</mat-label>
                                <input matInput disabled="true" [formControlName]="'district'" class="disableCustomCss">
                                <mat-icon class="icon-size-5" matSuffix
                                    [svgIcon]="'heroicons_solid:location-marker'"></mat-icon>
                            </mat-form-field>
                            <mat-form-field class="ml-5 flex-auto gt-xs:pl-3">
                                <mat-label class="boldFont">Vergi Dairesi</mat-label>
                                <input matInput disabled="true" [formControlName]="'taxoffice'"
                                    class="disableCustomCss">

                            </mat-form-field>
                        </div>
                        <div class="flex float:left gt-xs:flex-row">
                            <mat-form-field class="flex-auto gt-xs:pr-3">
                                <mat-label class="boldFont">VN/TC No</mat-label>
                                <input matInput disabled="true" [formControlName]="'vkntcno'" class="disableCustomCss">
                                <mat-icon class="icon-size-5" matSuffix
                                    [svgIcon]="'heroicons_solid:identification'"></mat-icon>
                            </mat-form-field>
                            <mat-form-field class="ml-5 flex-auto gt-xs:pl-3">
                                <mat-label class="boldFont">Not</mat-label>
                                <input matInput disabled="true" [formControlName]="'note'" class="disableCustomCss">

                            </mat-form-field>
                        </div>
                        <div class="flex float:left gt-xs:flex-row">
                            <mat-form-field class="flex-auto gt-xs:pr-3">
                                <mat-label class="boldFont">Adres</mat-label>
                                <input matInput disabled="true" [formControlName]="'address'" class="disableCustomCss">
                                <mat-icon class="icon-size-5" matSuffix
                                    [svgIcon]="'heroicons_solid:location-marker'"></mat-icon>
                            </mat-form-field>
                            <mat-form-field class="ml-5 flex-auto gt-xs:pl-3">
                                <mat-label class="boldFont">Müşteri İndirim Oranı</mat-label>
                                <input matInput disabled="true" [formControlName]="'customerdiscount'"
                                    class="disableCustomCss">
                                <mat-icon class="icon-size-5" matSuffix
                                    [svgIcon]="'heroicons_solid:receipt-tax'"></mat-icon>
                            </mat-form-field>
                        </div>
                        <div class="flex float:left gt-xs:flex-row">
                            <mat-form-field class="flex-auto gt-xs:pr-3">
                                <mat-label class="boldFont">Müşteri Grubu</mat-label>
                                <input matInput disabled="true" [formControlName]="'customerGroup'"
                                    class="disableCustomCss">

                            </mat-form-field>
                            <mat-form-field class="ml-5 flex-auto gt-xs:pl-3">
                                <mat-label class="boldFont">Kayıt Tarihi</mat-label>
                                <input matInput disabled="true" [formControlName]="'recordDate'"
                                    class="disableCustomCss">
                                <mat-icon class="icon-size-5" matSuffix
                                    [svgIcon]="'heroicons_solid:user-circle'"></mat-icon>
                            </mat-form-field>
                        </div>
                        <div class="flex float:left gt-xs:flex-row">
                            <mat-form-field class="flex-auto gt-xs:pr-3">
                                <mat-label class="boldFont">SMS Bildirimi</mat-label>
                                <input matInput disabled="true" [formControlName]="'smsNotification'"
                                    [ngStyle]="{'color': customerDetailForm.get('smsNotification').value ? 'green' : 'red'}">
                                <mat-icon class="icon-size-5" matSuffix
                                    [svgIcon]="'heroicons_solid:user-circle'"></mat-icon>
                            </mat-form-field>

                            <mat-form-field class="ml-5 flex-auto gt-xs:pl-3">
                                <mat-label class="boldFont">E-Mail Bildirimi</mat-label>
                                <input matInput disabled="true" [formControlName]="'emailNotification'"
                                    [ngStyle]="{'color': customerDetailForm.get('emailNotification').value ? 'green' : 'red'}">
                                <mat-icon class="icon-size-5" matSuffix
                                    [svgIcon]="'heroicons_solid:user-circle'"></mat-icon>
                            </mat-form-field>
                        </div>
                    </div>
                </div>
            </div>


            <!-- <div class="w-full md:w-6/12 p-2">
                <div class="flex flex-col flex-auto p-6 bg-card shadow rounded-2xl overflow-hidden">
                    <div class="flex flex-col flex-auto items-center p-6 sm:p-10" style="padding: 0 !important;">
    

                        <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-3 gap-6 w-full min-w-0">
                            <ng-container *ngFor="let patient of patientDetails">
                                <div
                                    class="flex flex-col flex-auto items-center bg-card shadow rounded-2xl overflow-hidden">
              
                                    <div class="flex flex-col flex-auto w-full p-8 text-center">
                                        <div class="w-24 h-24 mx-auto rounded-full overflow-hidden">
                                            <img class="w-full h-full object-cover"
                                                src="assets/images/avatars/noimage.jpg">
                                        </div>
                                        <div class="mt-6 font-medium">Hasta Adı : {{patient.name}}</div>
                                        <div class="font-medium"> Hasta Tipi : {{patient.animalType}}</div>
                                        <div class="font-medium"> Hasta Cinsi : {{patient.breedType}}</div>
                                        <div class="font-medium"> Hasta Rengi : {{patient.animalColor}}</div>
                                        <div class="font-medium"> Hasta Cinsiyeti : {{patient.sex}}</div>
                                        <div class="font-medium"> Hasta Doğumgünü: {{patient.birthDate}}</div>
                                        <div class="font-medium"> Hasta Çip No : {{patient.chipNumber}}</div>
                                    </div>
                                </div>
                            </ng-container>
                        </div>

                        <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-4 gap-4 mt-8 md:mt-16">
                            <ng-container *ngFor="let board of boards; trackBy: trackByFn">
                                <a class="flex flex-col items-start w-56 p-6 rounded-lg shadow bg-card rounded-lg hover:shadow-xl transition-shadow duration-150 ease-in-out"
                                    [routerLink]="[board.id]">
                                    <div
                                        class="flex items-center justify-center p-4 rounded-full bg-primary-50 text-primary-700 dark:bg-primary dark:text-on-primary">
                                        <mat-icon class="text-current" [svgIcon]="board.icon"></mat-icon>
                                    </div>
                               
                                    <div class="mt-5 text-lg font-medium leading-5">
                                        {{ board.title }}
                                    </div>
                             
                                    <div class="mt-0.5 line-clamp-2 text-secondary">
                                        {{ board.description }}
                                    </div>
                             
                                    <ng-container *ngIf="board.members?.length">
                                        <div class="w-12 h-1 mt-6 border-t-2"></div>
                                        <div class="flex items-center mt-6 -space-x-1.5">
                                            <ng-container *ngFor="
                                                    let member of board.members.slice(
                                                        0,
                                                        5
                                                    );
                                                    trackBy: trackByFn
                                                ">
                                                <img class="flex-0 w-8 h-8 rounded-full ring ring-offset-1 ring-bg-card ring-offset-transparent object-cover"
                                                    [src]="member.avatar" alt="Member avatar" />
                                            </ng-container>
                                            <ng-container *ngIf="board.members.length > 5">
                                                <div
                                                    class="flex flex-0 items-center justify-center w-8 h-8 rounded-full ring ring-offset-1 ring-bg-card ring-offset-transparent bg-gray-200 text-gray-500">
                                                    <div class="text-md font-semibold">
                                                        +{{
                                                        board.members.slice(
                                                        5
                                                        ).length
                                                        }}
                                                    </div>
                                                </div>
                                            </ng-container>
                                        </div>
                                    </ng-container>
                     
                                    <div class="flex items-center mt-4 text-md font-md">
                                        <div class="text-secondary">
                                            Edited:
                                        </div>
                                        <div class="ml-1">
                                            {{
                                            formatDateAsRelative(
                                            board.lastActivity
                                            )
                                            }}
                                        </div>
                                    </div>
                                </a>
                            </ng-container>
                   
                            <div
                                class="flex flex-col items-center justify-center w-56 rounded-lg cursor-pointer border-2 border-gray-300 border-dashed hover:bg-hover transition-colors duration-150 ease-in-out">
                                <mat-icon class="icon-size-12 text-hint"
                                    [svgIcon]="'heroicons_outline:plus'"></mat-icon>
                            </div>
                        </div>
                    </div>
                </div>
            </div> -->

            <div class="w-full md:w-6/12 lg:w-6/12 p-2">
                <div class="flex flex-wrap gap-4 flex-auto p-6 bg-card shadow rounded-2xl overflow-hidden"
                    style="justify-content: space-between;">
                    <fuse-card class="flex flex-col max-w-80 w-full p-8 pb-4 filter-article"
                        *ngFor="let patient of patientDetails">
                        <!-- <div class="flex items-start justify-between">
                            <div class="ml-2 -mt-2 -mr-3">
                                <button mat-icon-button [matMenuTriggerFor]="summaryMenu">
                                    <mat-icon class="icon-size-5" [svgIcon]="'heroicons_solid:dots-vertical'"></mat-icon>
                                </button>
                                <mat-menu #summaryMenu="matMenu">
                                    <button mat-menu-item>Yesterday</button>
                                </mat-menu>
                            </div>
                        </div> -->
                        <div class="flex items-center">
                            <img class="w-20 rounded-lg object-cover" src="assets/images/avatars/noimage.jpg"
                                alt="Card cover image">
                            <div class="flex flex-col ml-6">
                                <div class="text-2xl font-semibold leading-tight">Hasta Adı</div>
                                <div class="text-secondary font-medium text-md">{{patient.name}}</div>
                            </div>
                        </div>

                        <div class="container" style="margin-top: 1rem; padding: 0;">
                            <div class="row">
                                <div class="col-md-6"
                                    style="border-right: 1px solid rgba(var(--fuse-text-secondary-rgb), var(--tw-text-opacity)); display: flex; flex-direction: column; align-items: center; position: relative;">
                                    <div style="font-weight: 600;">
                                        Çip Numarası
                                    </div>
                                    <div
                                        style="font-weight: 500; font-size: 0.8rem; color: rgba(var(--fuse-text-secondary-rgb), var(--tw-text-opacity)) !important;">
                                        {{patient.chipNumber}}
                                    </div>
                                    <!-- Ortadaki çizgi için ::after seçici kullanılıyor -->
                                    <div
                                        style="content: ''; position: absolute; height: 100%; width: 1px; background-color: black; right: 0;">
                                    </div>
                                </div>
                                <div class="col-md-6"
                                    style="display: flex; flex-direction: column; align-items: center; justify-content: flex-end; position: relative;">
                                    <div style="font-weight: 600;">
                                        Hasta Tipi
                                    </div>
                                    <div
                                        style="font-weight: 500; font-size: 0.8rem; color: rgba(var(--fuse-text-secondary-rgb), var(--tw-text-opacity)) !important;">
                                        {{patient.animalType}}
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="flex flex-wrap mt-3 -mx-3" style="justify-content: space-between;">
                            <a class="px-3" mat-button [color]="'warn'" [routerLink]="['./']"
                                (click)="redirectToDeletePatient(patient.recId)">
                                Sil
                            </a>

                            <a class="px-3" mat-button [color]="'primary'" [routerLink]="['./']" (click)="redirectToUpdatePatient(patient.recId)">
                                Düzenle
                            </a>
                        </div>
                    </fuse-card>
                </div>
            </div>




        </div>
    </div>
</div>