<h1 mat-dialog-title class="mat-dialog-title">
  <button class="dialog-close-button" (click)="closeDialog()" [tabIndex]="-1">
    <span class="material-icons"> highlight_off </span>
  </button>
</h1>

<div class="modalForm">
  <mat-dialog-content>
    <div class="modal-header">
      <h5 class="modal-title">
        <span>Randevu Ekle</span>
      </h5>
    </div>

    <div class="modal-body mbody-customeradd">
      <div class="qm-pr-content">
        <div class="container-fluid" [formGroup]="appointmentAdd">
         
          <div class="flex float : left gt-xs:flex-row">
            <mat-form-field class="flex-auto gt-xs:pr-3">
              <mat-label>Müşteri</mat-label>
              <mat-select [placeholder]="'Müşteri'" [(ngModel)]="selectedCustomer" [formControlName]="'customerId'" name="customer">
                  <mat-option>None</mat-option>
                  <mat-option *ngFor="let customer of customers"
                      [value]="customer.id">{{customer.firstName}}</mat-option>
              </mat-select>
              <mat-icon class="icon-size-5" matPrefix [svgIcon]="'heroicons_solid:location-marker'"></mat-icon>
            </mat-form-field>
            <mat-form-field class="ml-5 flex-auto gt-xs:pl-3">
              <mat-label>Hekim</mat-label>
              <mat-select [placeholder]="'Hekim'" [(ngModel)]="selectedDoctor" [formControlName]="'doctorId'" name="doctor">
                  <mat-option>None</mat-option>
              </mat-select>
              <mat-icon class="icon-size-5" matPrefix [svgIcon]="'heroicons_solid:location-marker'"></mat-icon>
            </mat-form-field>
          </div>

          <div class="flex float : left gt-xs:flex-row">

            <mat-form-field class="flex-auto gt-xs:pr-3">
              <mat-label>Randevu Başlangıç</mat-label>
              <input matInput type="datetime-local" [formControlName]="'beginDate'" placeholder="start date">
            </mat-form-field>

            <mat-form-field class="ml-5 flex-auto gt-xs:pl-3">
              <mat-label>Randevu Bitiş</mat-label>
              <input matInput type="datetime-local" [formControlName]="'endDate'" placeholder="end date">
            </mat-form-field>
          </div>
          
          <div class="flex float : left gt-xs:flex-row">
            <mat-form-field class="flex-auto gt-xs:pr-3">
              <mat-label>Telefon Numarası</mat-label>
              <input matInput />
              <mat-icon class="icon-size-5" matSuffix [svgIcon]="'heroicons_solid:user-circle'"></mat-icon>
            </mat-form-field>            
            <mat-form-field class="ml-5 flex-auto gt-xs:pl-3">
              <mat-label>Not</mat-label>
              <input matInput [formControlName]="'note'" />
              <mat-icon class="icon-size-5" matSuffix [svgIcon]="'heroicons_solid:user-circle'"></mat-icon>
            </mat-form-field>  
          </div>          
        </div>
      </div>
    </div>
  </mat-dialog-content>
</div>

<div class="flex items-center mt-4 sm:mt-0 justify-end mr-7">
  <button class="ml-auto sm:ml-0" mat-stroked-button (click)="closeDialog()">
      Vazgeç
  </button>
  <button class="order-first sm:order-last ml-3" mat-flat-button [color]="'primary'"
      (click)="addOrUpdateAppointment()">
      Kaydet
  </button>
</div>