<h1 mat-dialog-title class="mat-dialog-title">
  <button class="dialog-close-button" (click)="closeDialog()" [tabIndex]="-1">
    <span class="material-icons"> highlight_off </span>
  </button>
</h1>

<div class="modalForm">
  <mat-dialog-content>
    <div class="modal-header">
      <h5 class="modal-title">
        <span>Randevu Ekle</span>
      </h5>
    </div>

    <div class="modal-body mbody-customeradd">
      <div class="qm-pr-content">
        <div class="container-fluid" [formGroup]="appointmentAdd">

          
          <!-- <div class="flex float : left gt-xs:flex-row">
          
              <div class="dx-field">
                <div class="dx-field-label">Randevu Başlangıç</div>
                <div class="dx-field-value">
                  <dx-date-box [value]="now" type="datetime" [inputAttr]="{ 'aria-label': 'Date And Time' }">
                  </dx-date-box>
                </div>
              </div>
 
          </div> -->


          <div class="flex float : left gt-xs:flex-row">
            <mat-form-field class="flex-auto gt-xs:pl-3">
              <mat-label>Hekim</mat-label>
              <mat-select  [formControlName]="'doctorId'"name="doctor">
                <mat-option>None</mat-option>
                <mat-option *ngFor="let item of vetDoctorList"
                               [value]="item.id">{{item.firstname}}</mat-option>
              </mat-select>
              <!-- <mat-icon class="icon-size-5" matPrefix [svgIcon]="'heroicons_solid:location-marker'"></mat-icon> -->
            </mat-form-field>
          </div>
          <div class="flex float: left gt-xs:flex-row">
            <mat-form-field class="flex-auto gt-xs:pl-3">
              <mat-label>Randevu Tipi</mat-label>
              <mat-select [placeholder]="'Randevu Tipi'" [formControlName]="'appointmentType'" name="doctor" (selectionChange)="onAppointmentTypeChange($event)">
                <mat-option *ngFor="let item of appointmentsList" [value]="item.id">{{item.remark}}</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div *ngIf="selectedAppointmentType === 1" class="flex items-center my-4 sm:my-0 justify-end mr-7">
          <button  class="order-first sm:order-last ml-3" mat-flat-button [color]="'primary'" (click)="addVaccine()">
            Ekle
          </button>
        </div>
          <div *ngIf="selectedAppointmentType === 1" class="flex float: left gt-xs:flex-row my-3 w-full" >
            <div class="card-list flex-auto flex flex-wrap w-full"  >
              <div class="card w-full my-2" *ngFor="let item of addVaccineList">
                <fuse-card>
                  <mat-card-content class="w-full">
                    <div class="content-between flex">                      
                      <mat-form-field class="flex-auto gt-xs:pl-3 w-full">
                        <mat-label>Aşı Tipi</mat-label>
                        <mat-select [placeholder]="'Randevu Tipi'" name="doctor" (selectionChange)="onVaccineTypeChange($event)">
                          <mat-option *ngFor="let item of productdescription" [value]="item.id">{{item.name}}</mat-option>
                        </mat-select>
                      </mat-form-field>
                      <mat-checkbox class="mb-2" [checked]="false" [color]="'primary'">
                        Yapıldı
                      </mat-checkbox>
                    </div>
                    <div class="dx-field">
                        <dx-date-box [value]="now" type="datetime" [inputAttr]="{ 'aria-label': 'Date And Time' }" (onValueChanged)="handleValueChangeList($event, item.id)">
                        </dx-date-box>
                    </div>
                  </mat-card-content>
                </fuse-card>
              </div>
            </div>
          </div>

          <div *ngIf="selectedAppointmentType !== 1" class="flex float: left gt-xs:flex-row mb-3">
            <div class="card-list flex-auto">
              <div class="card">
                <mat-card>
                  <mat-card-content>
                    <div class="dx-field">
                        <dx-date-box [value]="now" type="datetime" [inputAttr]="{ 'aria-label': 'Date And Time' }" (onValueChanged)="handleValueChange($event)">
                        </dx-date-box>
                    </div>
                  </mat-card-content>
                </mat-card>
              </div>
            </div>
          </div>
          
          
          <div class="flex float : left gt-xs:flex-row gap-t-3">
            <mat-form-field class="flex-auto gt-xs:pl-3">
              <mat-label>Not</mat-label>
              <input matInput [formControlName]="'note'" />
            </mat-form-field>
          </div>
        </div>
      </div>
    </div>
  </mat-dialog-content>
</div>

<div class="flex items-center mt-4 sm:mt-0 justify-end mr-7">
  <button class="ml-auto sm:ml-0" mat-stroked-button (click)="closeDialog()">
    Vazgeç
  </button>
  <button class="order-first sm:order-last ml-3" mat-flat-button [color]="'primary'" (click)="addOrUpdateAppointment()">
    Kaydet
  </button>
</div>