<div class="flex flex-col flex-auto min-w-0">
  <div
    class="flex flex-col sm:flex-row flex-0 sm:items-center sm:justify-between p-6 pb-18 sm:pt-8 sm:pb-22 sm:px-10 bg-default dark:bg-transparent">
    <div class="flex-1 min-w-0">
      <div>
        <div class="flex sm:hidden">
          <a class="inline-flex items-center -ml-1.5 text-secondary font-medium" [routerLink]="'./..'">
            <mat-icon class="icon-size-5 text-secondary" [svgIcon]="'heroicons_solid:chevron-left'"></mat-icon>
            <span class="ml-1">Back</span>
          </a>
        </div>
      </div>
      <!-- Title -->
      <div class="mt-2">
        <h2 class="text-3xl md:text-4xl font-extrabold tracking-tight leading-7 sm:leading-10 truncate">
          Çitos
        </h2>
      </div>
      <div class="font-medium tracking-tight text-secondary">
        5530154968
      </div>
    </div>
  </div>
  <div class="flex-auto -mt-16 p-6 sm:p-10 rounded-t-2xl shadow bg-card ">
    <div class="bg-primary-50 rounded-2xl w-full ">
      <div class="flex flex-auto gap-3 w-full h-full p-3">
        <div class="flex-auto p-3 rounded-2xl shadow bg-card ">
          <div class="bg-red-400 w-20 h-20 rounded-full items-center justify-center my-auto mx-3 text-center min-w-20"></div>
          <h2 class="px-6 text-xl md:text-2xl font-bold tracking-tight leading-7 sm:leading-10 truncate">
            Çitos
          </h2>
        </div>
        
          <div class="flex flex-auto justify-around w-full">
            <div>
              <h2 class="px-6 text-xl md:text-2xl font-bold tracking-tight leading-7 sm:leading-10 truncate">
                Detay
              </h2>
              <table class="min-w-full divide-y">
                <thead>
                  <tr>
                    <th scope="col" class="font-bold   px-6 py-2 text-left text-sm text-gray-500 tracking-wider">Hasta No</th>
                    <td class="px-6 py-3 text-right text-xs font-medium text-gray-500 tracking-wider">Veri 1</td>
                  </tr>
                  <tr>
                    <th scope="col" class="font-bold   px-6 py-2 text-left text-sm text-gray-500 tracking-wider">Tür/Irk</th>
                    <td class="px-6 py-3 text-right text-xs font-medium text-gray-500 tracking-wider">Veri 2</td>
                  </tr>
                  <tr>
                    <th scope="col" class="font-bold   px-6 py-2 text-left text-sm text-gray-500 tracking-wider">Doğum Tarihi</th>
                    <td class="px-6 py-3 text-right text-xs font-medium text-gray-500 tracking-wider">Veri 3</td>
                  </tr>
                  <tr>
                    <th scope="col" class="font-bold   px-6 py-2 text-left text-sm text-gray-500 tracking-wider">Cinsiyet</th>
                    <td class="px-6 py-3 text-right text-xs font-medium text-gray-500 tracking-wider">Veri 4</td>
                  </tr>
                  <tr>
                    <th scope="col" class="font-bold   px-6 py-2 text-left text-sm text-gray-500 tracking-wider">Renk</th>
                    <td class="px-6 py-3 text-right text-xs font-medium text-gray-500 tracking-wider">Veri 5</td>
                  </tr>
                </thead>
              </table>
            </div>
            <div>
              <h2 class="px-6 text-xl md:text-2xl font-bold tracking-tight leading-7 sm:leading-10 truncate">
                İletişim
              </h2>
              <table class="min-w-full divide-y">
                <thead class="">
                  <tr>
                    <th scope="col" class="font-bold   px-6 py-2 text-left text-sm text-gray-500 tracking-wider">Sahibi</th>
                    <td class="px-6 py-3 text-right text-xs font-medium text-gray-500 tracking-wider">Veri 1</td>
                  </tr>
                  <tr>
                    <th scope="col" class="font-bold   px-6 py-2 text-left text-sm text-gray-500 tracking-wider">Güncel Bakiye</th>
                    <td class="px-6 py-3 text-right text-xs font-medium text-gray-500 tracking-wider">Veri 2</td>
                  </tr>
                  <tr>
                    <th scope="col" class="font-bold   px-6 py-2 text-left text-sm text-gray-500 tracking-wider">Telefon</th>
                    <td class="px-6 py-3 text-right text-xs font-medium text-gray-500 tracking-wider">Veri 3</td>
                  </tr>
                  <tr>
                    <th scope="col" class="font-bold   px-6 py-2 text-left text-sm text-gray-500 tracking-wider">İkincil Telefon</th>
                    <td class="px-6 py-3 text-right text-xs font-medium text-gray-500 tracking-wider">Veri 4</td>
                  </tr>
                  <tr>
                    <th scope="col" class="font-bold   px-6 py-2 text-left text-sm text-gray-500 tracking-wider">TC Kimlik No</th>
                    <td class="px-6 py-3 text-right text-xs font-medium text-gray-500 tracking-wider">Veri 5</td>
                  </tr>
                </thead>
              </table>
            </div>
          </div>
      </div>
      
    </div>
  </div>
</div>

<!-- <div class="container my-5">
  <p-card header="Hasta Bilgilerini Düzenle">
    <form [formGroup]="patientForm" (ngSubmit)="saveChanges()">
      <div class="row">
        <div class="col-md-3">
          <div class="custom-file-upload">
            <div *ngIf="!imageUrl">
              <p-fileUpload mode="basic" name="demo[]" url="./upload" chooseLabel="Fotoğraf Seç" auto="true"
                (onSelect)="onSelect($event)" (uploadHandler)="onUpload($event)" formControlName="patientImg"></p-fileUpload>
            </div>
            <div class="image-preview" *ngIf="imageUrl">
              <img [src]="imageUrl" alt="Seçilen Fotoğraf" />
              <button type="button" class="remove-button" (click)="removeImage()">Kaldır</button>
            </div>
          </div>
        </div>
        <div class="col-md-9 col-xl-6">
          <div class="container">
            <div class="form-group col-md-12">
              <label for="customer">Müşteri / Sahibi</label>
              <p-dropdown class="flex flex-column" [options]="customers" formControlName="patientCustomer"
                placeholder="Müşteri Seç"></p-dropdown>
            </div>

            <div class="flex flex-row my-5">
              <div class="flex flex-column col-md-6">
                <label for="type">Türü (Zorunlu)</label>
                <p-dropdown class="flex flex-column" [options]="types" formControlName="patientType"
                  placeholder="Tür Seç"></p-dropdown>
              </div>
              <div class="flex flex-column col-md-6">
                <label for="breed">Irkı (Zorunlu)</label>
                <p-dropdown class="flex flex-column" [options]="breeds" formControlName="patientBreed"
                  placeholder="Irk Seç"></p-dropdown>
              </div>
            </div>

            <div class="form-group">
              <label for="patientName">Hasta adı (Zorunlu)</label>
              <input pInputText formControlName="patientName" placeholder="Hasta Adı Girin" />
            </div>

            <div class="flex flex-row my-5">
              <div class="flex flex-column col-md-6">
                <label for="birthDate">Doğum Tarihi (Zorunlu)</label>
                <p-calendar class="flex flex-column" formControlName="patientBirthDate" dateFormat="dd-mm-yy"
                  placeholder="Doğum Tarihi Seç"></p-calendar>
              </div>
              <div class="flex flex-column col-md-6">
                <label class="flex justify-center" for="gender">Cinsiyet (Zorunlu)</label>
                <div class="flex justify-center">
                  <p-radioButton class="mx-2" name="gender" value="male" formControlName="patientGender" label="Erkek"></p-radioButton>
                  <p-radioButton name="gender" value="female" formControlName="patientGender" label="Dişi"></p-radioButton>
                </div>
              </div>
            </div>

            <div class="form-group">
              <button pButton type="submit" label="Değişiklikleri Hızlı Kaydet"></button>
            </div>

          </div>
        </div>
      </div>
    </form>
  </p-card>
</div> -->