.full-width-table {
    width: 100%;
  }
  
  .paid {
    color: #155724; /* Dark green */
  }
  
  .unpaid {
    color: #721c24; /* Dark red */
  }

  .menu-button {
    display: flex;
    align-items: center;
    justify-content: center;
  }