<div class="flex flex-col flex-auto min-w-0">

  <!-- Header -->
  <div class="flex flex-col sm:flex-row flex-0 sm:items-center sm:justify-between p-6 pb-22 sm:pt-12 sm:pb-28 sm:px-10 bg-default dark:bg-transparent">
      <div class="flex-1 min-w-0">
          <!-- Breadcrumbs -->
          <div>
              <div class="flex sm:hidden">
                  <a
                      class="inline-flex items-center -ml-1.5 text-secondary font-medium"
                      [routerLink]="'./..'">
                      <mat-icon
                          class="icon-size-5 text-secondary"
                          [svgIcon]="'heroicons_solid:chevron-left'"></mat-icon>
                      <span class="ml-1">Back</span>
                  </a>
              </div>
          </div>
          <!-- Title -->
          <div class="mt-2">
              <h2 class="text-3xl md:text-4xl font-extrabold tracking-tight leading-7 sm:leading-10 truncate">
                  Tedarikçiler
              </h2>
          </div>
          <div class="font-medium tracking-tight text-secondary">Malzeme firma bilgileri</div>
      </div>
      <!-- Actions -->
      <div class="flex shrink-0 items-center mt-6 sm:mt-0 sm:ml-4">
          <!-- <button mat-stroked-button>
              <mat-icon
                  class="icon-size-5 mr-2"
                  [svgIcon]="'heroicons_solid:pencil-alt'"></mat-icon>
              Yeni Tedarikçiden Alış
          </button>
          <button
              class="ml-3"
              mat-flat-button
              [color]="'primary'">
              <mat-icon
                  class="icon-size-5 mr-2"
                  [svgIcon]="'heroicons_solid:link'"></mat-icon>
              Kayıtlı Tedarikçiden Alış
          </button> -->
      </div>
  </div>

  <!-- Main -->
  <div class="flex-auto -mt-16 p-6 sm:p-10 rounded-t-2xl shadow bg-card">
    <!-- CONTENT GOES HERE -->
    <div class="flex flex-wrap w-full max-w-screen-xl mx-auto p-6 md:p-8">
      <table mat-table [dataSource]="suppliers"class="mat-elevation-z8"> 

        <!-- Position Column -->
        <ng-container matColumnDef="suppliername">
          <th mat-header-cell *matHeaderCellDef> Tedarikçi Adı </th>
          <td mat-cell *matCellDef="let element"> {{element.suppliername}} </td>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="email">
          <th mat-header-cell *matHeaderCellDef> E-Mail </th>
          <td mat-cell *matCellDef="let element"> {{element.email}} </td>
        </ng-container>
        <ng-container matColumnDef="phone">
          <th mat-header-cell *matHeaderCellDef> Telefon </th>
          <td mat-cell *matCellDef="let element"> {{element.Telefon}} </td>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="active">
          <th mat-header-cell *matHeaderCellDef> Durumu </th>
          <td mat-cell *matCellDef="let element" [style.color]="element.active ? 'green' : 'red'"> {{element.active}} </td>
        </ng-container>
        <!-- Weight Column -->



        <ng-container matColumnDef="update">
            <th mat-header-cell *matHeaderCellDef> Update </th>
            <td mat-cell *matCellDef="let element">
              <button mat-icon-button color="accent" (click)="redirectToUpdate(element.Id)">
                  <mat-icon class="mat-18">system_update</mat-icon>
              </button>
            </td>
          </ng-container>
          <ng-container matColumnDef="id">
              <th mat-header-cell *matHeaderCellDef> Delete </th>
              <td mat-cell *matCellDef="let element">
                <button mat-icon-button color="warn" (click)="redirectToDelete(element.id)">
                    <mat-icon class="mat-18">delete</mat-icon>
                </button>
              </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>

      <!-- <mat-paginator [pageSizeOptions]="[5, 10, 20]"
                             showFirstLastButtons
                             aria-label="Select page of periodic elements">
              </mat-paginator> -->
    </div>


  </div>

</div>
